<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Hello Spring Security</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<form action="#" th:action="@{/logout}" method="post"
		th:fragment="logout" sec:authorize="isAuthenticated()"
		class="form-inline my-2 my-lg-0">
		<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
	</form>

	<h1>Bienvenido al Geoportal de Vacunación Covid-19</h1>
	<p>Aplicación web que muestra mapas donde se localizacon los centros de vacunación y nivel de avance de la vacuna,
		en el departamento de San Salvador, tomando en cuenta el municipio de residencia de la persona.</p>
	<ul>
		<li>Entra <a href="/map/index" th:href="@{map/index}">aquí</a> para ir al portal.</li>
	</ul>
</body>
</html>