<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Geoportal Vacunacion</title>
<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/loginStyle.css"/>
<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body class="m-0 vh-100 row justify-content-center align-items-center bg-light">
	<form action="#" th:action="@{/logout}" method="post"
		th:fragment="logout" sec:authorize="isAuthenticated()"
		class="form-inline my-2 my-lg-0">
		<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
	</form>



	<div >
		<div class="col-auto bg-gray p-5">

				<h1 class="display-4">Bienvenido al Geoportal de Vacunación Covid-19</h1>
				<h1 >Aplicación web que muestra mapas donde se localizacon los centros de vacunación y nivel de avance de la vacuna,
					en el departamento de San Salvador, tomando en cuenta el municipio de residencia de la persona.</h1>
				<ul>
					<li>Entra <a href="/map/index" th:href="@{map/index}" class="text-blue">aquí</a> para ir al portal.</li>
				</ul>

		</div>
	</div>
</body>
</html>
